body
{
    font-family: 'Montserrat';
font-size: 15px;
    margin: 0;

    background-color: #893f45;
}

.header
{
	text-align: center
}

.header__title
{
    font-weight: normal;
    letter-spacing: 10px;

    padding: 55px;

    color: #ff9;
}

.container
{
    padding: 0 15% 0 15%;
    margin: 0 auto;
    max-width: 1300px;
}

.slider
{
    width: 100%;
    height: 400px;
    padding: 0;
    margin: 0 0 50px 0;
}

.slider__wrap
{
    position: absolute;
    width: 70%;
    max-width: 1300px; 
    height: 400px;
}

.slider__news
{
    display: flex;

    height: 100%;
}

.img-container
{
    display: flex;
    overflow: hidden;
    
    width: 50%;
    height: 100%;
    
    justify-content: center;
}

.slider__news-img
{
    width: auto;
    height: 100%;
}

.slider__news-content
{
    width: 50%;
    padding: 50px;

    background-color: #564042;

    align-items: center;
}


.slider__news-header
{
    font-size: 1.5em;
    text-decoration: none;

    color: #ff9;
}

.slider__news-header:hover
{
    opacity: .7;
}

.slider__circle
{
    position: absolute;
    right: 5%;
    bottom: 5%;

    display: flex;

    width: 15%;

    justify-content: space-between;

    cursor: pointer;
}

.slider__circle-item
{
    width: 15px;
    height: 15px;

    border: solid #893f45 1.5px;
    border-radius: 50%;
}

.slider__circle-item-active
{
    background-color: #893f45;
}

.news
{
    display: grid;
    grid-template-columns: 50% 50%;
}

.news__item
{
    display: flex;

    width: auto;
    height: 250px;
    padding: 10px;

    align-items: flex-start;
}

.news__item-header
{
    font-weight: bold;

    display: inline-block;

    margin: 0 0 10px 0;

    text-decoration: none;

    color: black;
}

.news__item-header:hover
{
    opacity: .5;
}

.news__item-photo
{
	height: 100%;
}

.news__item-content
{
    width: 50%;
    margin: 0;
    padding: 0 10px 10px 10px;

    text-align: justify;
}

.arrow
{
    display: none;

    position: fixed;
    bottom: 10px;
    right: 10px;

    cursor: pointer
}

.arrow-active
{
    display: block;
    
    opacity: 0;

    transition: 0.5s ease;

    animation: show 2s 1;
    animation-fill-mode: forwards; 
}

.arrow-active:hover
{
   transform: scale(1.3); 
}

.arrow-img
{
    width: 50px;
    height: auto;
}

@keyframes show
{
    0%
    {
        opacity:0;
    }
    100% 
    {
        opacity:1;
    }
}

/*Десктопная версия*/

@media (max-width: 1200px)
{
    body
    {
        font-size: 10px;
    }

    .news__item
    {
        height: 120px;
        padding: 5px;
    }

}
@media (max-width:980px)
{
    body
    {
        font-size: 8px;
    }
}