body
{
    font-family: 'Montserrat';

    margin: 0;

    background-color: #893f45;
}

.header
{
	text-align: center
}
.header__title
{
    font-weight: normal;
    letter-spacing: 10px;

    padding: 55px;

    color: #ff9;
}

.container
{
    width: 100vw;
    padding: 0 15% 0 15%;
}

.nav
{
    width: 70%;
    height: 400px;
    padding: 0;
    margin: 0 0 50px 0;
}

.nav__wrap
{
    position: absolute;

    width: 70%;
    height: 400px;
}

.nav__news
{
    display: grid;

    height: 100%;

    grid-template-columns: 50% 50%;
}

.photoWrap
{
    display: grid;
    overflow: hidden;

    height: 100%;

    justify-items: center;
}

.nav__news-photo
{
    width: auto;
    height: 100%;
}

.nav__news-content
{
    padding: 50px;

    background-color: #564042;

    align-items: center;
}


.nav__news-header
{
    text-decoration: none;

    color: #ff9;
}

.nav__circle
{
    position: absolute;
    right: 5%;
    bottom: 5%;

    display: flex;

    width: 15%;

    justify-content: space-between;

    cursor: pointer;
}

.nav__circle-item
{
    width: 15px;
    height: 15px;

    border: solid #893f45 1.5px;
    border-radius: 50%;
}

.nav__circle-item-active
{
    background-color: #893f45;
}

.news
{
    display: grid;

    width: 70%;

    grid-template-columns: 50% 50%;
}

.news__item
{
    display: flex;

    width: auto;
    height: 250px;
    padding: 10px;

    align-items: flex-start;
}

.news__item-header
{
    font-weight: bold;

    display: inline-block;

    margin: 0 0 10px 0;

    text-decoration: none;

    color: black;
}

.news__item-header:hover
{
    opacity: .5;
}

.news__item-photo
{
	height: 100%;
}

.photo-frame
{
	display: flex;
	overflow: hidden;
	
	width: 50%;
    height: 100%;
    
    justify-content: center;
}

.news__item-content
{
    width: 50%;
    margin: 0;
    padding: 0 10px 10px 10px;

    text-align: justify;
}
